
/* Navigation Bar */
.navbar {

    background-color: black;
    transition: all ease 0.4s;
}

.navbar-brand {
    font-size: 52px;
    color: white !important;
}

.navbar .navbar-nav li a {
    font-size: 16px;
    color: white;
}

/* Animation */
.animate {
    padding: 0px 10px 0px 0px;
    transition: all ease 0.4s;
}


